<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diego.inicio2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:value="AIzaSyAUVjO79uq4QxDOC64z2FTX2b8B7rJ-0yg" >
        <activity
            android:name=".vistas.Loggin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.CamaraGaleria"
            android:label="@string/title_activity_camara_galeria" >
        </activity>
        <activity
            android:name=".vistas.Amigos"
            android:label="@string/title_activity_camara_galeria"
            android:theme="@style/ThemeCompat" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_loggin" >
        </activity>
        <activity
            android:name=".vistas.CrearCuenta"
            android:label="@string/title_activity_crear_cuenta" >
        </activity>
        <activity
            android:name=".vistas.ReproducirVideo"
            android:label="@string/title_activity_reproducir_video" >
        </activity>
        <activity
            android:name=".vistas.SubirVideo"
            android:label="SubirVideo" >
        </activity>
        <activity
            android:name=".vistas.DescripcionVideo"
            android:label="@string/title_activity_descripcion_video" >
        </activity>
        <activity
            android:name=".vistas.PerfilAmigo"
            android:label="@string/title_activity_perfil_amigo" >
        </activity>
        <activity
            android:name=".vistas.FotoPerfil"
            android:label="@string/title_activity_foto_perfil" >
        </activity>

        <service android:name=".Servicios.Solicitudes" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".vistas.ActivityUbicacion"
            android:label="@string/title_activity_activity_ubicacion" >
        </activity>
    </application>

</manifest>
